<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Summer_Internship_Backend</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>http://localhost:3000</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>FetchData</servlet-name>
    <servlet-class>
    com.higradius.FetchData
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchData</servlet-name>
    <url-pattern>
    /getData.do
    </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertData</servlet-name>
    <servlet-class>
    com.higradius.InsertData
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertData</servlet-name>
    <url-pattern>
    /postData.do
    </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PopulateDataForEdit</servlet-name>
    <servlet-class>
    com.higradius.PopulateDataForEdit
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateDataForEdit</servlet-name>
    <url-pattern>
    /getEditPopulate.do
    </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEditData</servlet-name>
    <servlet-class>
    com.higradius.UpdateEditData
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEditData</servlet-name>
    <url-pattern>
    /UpdateEditData.do
    </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>
    com.higradius.DeleteServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>
    /DeleteServlet.do
    </url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SearchInvoice</servlet-name>
    <servlet-class>
    com.higradius.SearchInvoice
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchInvoice</servlet-name>
    <url-pattern>
    /search.do
    </url-pattern>
  </servlet-mapping>
</web-app>